.profile__link {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 auto;
    text-decoration: none;
    color: #101828;
    position: relative;
}

.profile__link:hover .tooltip {
    visibility: visible;
    transition: 0.2s ease-in-out 0.4s;
}

@media (max-width: 760px) {
    .profile__link {
        font-size: 18px;
        line-height: 1.5;
    }
}