.footer__text {
    color: #667085;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    margin: 0;
}

@media (max-width: 760px) {
    .footer__text {
        color: #667085;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.4;
        text-align: center;
        margin: 16px auto 16px 0;
    }
}