.social__icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
    object-position: center;
    margin: 0 24px 0 0;
}

.social__icon:hover {
    cursor: pointer;
}

.social__icon:last-of-type {
    margin-right: 0;
}