#links {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1216px;
    margin: 56px auto 0;
}

.links-list {
    list-style: none;
}


.button {
    width: calc(100% - 64px);
    height: 76px;
    background-color: #EAECF0;
    margin: 0 auto 24px;
    color: #101828;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.55;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    padding: 24px 0;
    box-sizing: border-box;
    transition: background-color 0.5s ease;
}

.button:hover {
    background-color: #D0D5DD;
    border: 1px solid #D0D5DD;
}

.button:focus {
    border: 2px solid #98A2B3;
}

.button:disabled {
    border: 1px solid #F2F4F7;
    background-color: #FCFCFD;
}

@media (max-width: 760px) {
    #links {
        margin-top: 32px;
    }

    .button {
        height: 68px;
        font-size: 14px;
        line-height: 1.4;
        width: calc(100% - 32px);
    }
}